---
import Layout from '../../../layouts/Layout.astro';

---

<Layout
  title="法律声明（特定商业交易法）| Cor.inc"
  description="根据日本特定商业交易法要求的法律披露。包括卖方信息、付款条件、交付和退货政策。"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <h1 class="mb-10 text-4xl font-medium tracking-tight sm:text-5xl">法律声明</h1>

    <table class="w-full table-auto border-collapse text-left">
      <caption class="sr-only">根据日本特定商业交易法要求的卖方信息</caption>
      <tbody class="divide-y divide-primary-200 dark:divide-primary-800">
        <tr><th class="py-4 pr-6 align-top font-medium">卖方</th><td class="py-4">Cor Inc. (Cor.inc)</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">运营负责人</th><td class="py-4">首席执行官&nbsp;寺田&nbsp;康佑</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">地址</th><td class="py-4">天神派恩克雷斯特719号<br />2-3-10天神，中央区<br />福冈市，福冈县810-0001，日本</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">电话</th><td class="py-4">+81-70-8561-1659</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">电子邮件</th><td class="py-4">company@cor-jp.com</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">销售价格</th><td class="py-4">我们为每项服务或项目提供单独报价。报价免费；请随时通过咨询表单与我们联系。</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">除产品价格外的费用</th><td class="py-4">
          <ul class="list-disc list-inside space-y-1">
            <li>增值税（消费税）</li>
            <li>银行转账时的转账手续费</li>
            <li>其他实际费用，如服务器或域名费用，如果在开发之外产生，将在报价时明确说明。</li>
          </ul>
        </td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">付款方式</th><td class="py-4">信用卡（Stripe）/ 银行转账</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">付款时间</th><td class="py-4">原则上，付款在交付月份的下个月末到期（净30天）。但是，根据合同内容，可能需要预付款或付款时间可能有所不同。详细信息将在个别合同中规定。</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">交付/服务提供</th><td class="py-4">根据个别合同中规定的交付日期提供。</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">退货/取消政策</th><td class="py-4">由于服务的性质，我们通常不接受生产开始后的取消或退款。合同终止的条件将在个别合同中规定。</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">缺陷处理</th><td class="py-4">如果在交付的产品中发现与合同不同的严重缺陷，我们将在交付后3个月内免费纠正。</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">数量限制</th><td class="py-4">无</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">系统要求</th><td class="py-4">交付的网站/网络应用程序保证在以下浏览器的最新版本上运行：Google&nbsp;Chrome、Safari、Firefox、Microsoft&nbsp;Edge。</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">订阅取消</th><td class="py-4">不适用</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">特殊销售条件</th><td class="py-4">不适用</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">二手经销商许可证</th><td class="py-4">不适用</td></tr>
      </tbody>
    </table>
  </div>
</Layout>
