---
import Layout from '../../../layouts/Layout.astro';
import { getCurrentLocale } from '../../../utils/i18n';

const locale = Astro.props.locale || getCurrentLocale(Astro.url);
---

<Layout
  title="Legal Notice (Specified Commercial Transactions Act) | Cor.inc"
  description="Legal disclosures required under the Japanese Specified Commercial Transactions Act (SCTA). Includes seller information, payment terms, delivery, and return policies."
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <h1 class="mb-10 text-4xl font-medium tracking-tight sm:text-5xl">Legal Notice</h1>

    <table class="w-full table-auto border-collapse text-left">
      <tbody class="divide-y divide-primary-200 dark:divide-primary-800">
        <tr><th class="py-4 pr-6 align-top font-medium">Seller</th><td class="py-4">Cor Inc. (Cor.inc)</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Operations Manager</th><td class="py-4">CEO&nbsp;Kousuke&nbsp;Terada</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Address</th><td class="py-4">Tenjin Pine Crest&nbsp;719,<br />2-3-10 Tenjin, Chuo-ku,<br />Fukuoka-shi, Fukuoka 810-0001, Japan</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Phone</th><td class="py-4">+81-70-8561-1659</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Email</th><td class="py-4">company@cor-jp.com</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Sales Price</th><td class="py-4">We provide individual quotations for each service or project. Quotations are free; please feel free to contact us via the inquiry form.</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Fees Other Than Product Price</th><td class="py-4">
          <ul class="list-disc list-inside space-y-1">
            <li>VAT (consumption tax)</li>
            <li>Bank transfer fees when paying by bank transfer</li>
            <li>Other actual expenses such as server or domain fees, if they arise outside of development, will be clearly stated at the time of quotation.</li>
          </ul>
        </td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Payment Methods</th><td class="py-4">Credit card (Stripe) / Bank transfer</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Payment Timing</th><td class="py-4">In principle, payment is due at the end of the month following the month of delivery (net&nbsp;30). However, an upfront payment may be required or the timing may vary depending on the contract. Details will be specified in the individual contract.</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Delivery / Service Provision</th><td class="py-4">Provided in accordance with the delivery date specified in the individual contract.</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Return / Cancellation Policy</th><td class="py-4">Due to the nature of the services, we generally do not accept cancellations or refunds after production has started. Conditions for contract termination will be stipulated in the individual contract.</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Handling of Defects</th><td class="py-4">If a serious defect that differs from the contract is found in the delivered product, we will correct it free of charge within 3&nbsp;months after delivery.</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Quantity Limitations</th><td class="py-4">None</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">System Requirements</th><td class="py-4">Delivered websites / web applications are guaranteed to work on the latest versions of the following browsers: Google&nbsp;Chrome, Safari, Firefox, Microsoft&nbsp;Edge.</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Subscription Cancellation</th><td class="py-4">Not applicable</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Special Sales Conditions</th><td class="py-4">Not applicable</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Secondhand Dealer License</th><td class="py-4">Not applicable</td></tr>
      </tbody>
    </table>
  </div>
</Layout> 