---
const stats = [
  {
    name: '設立から',
    value: '1',
  },
  {
    name: '使える言語',
    value: '7',
  },
  {
    name: 'プロジェクト',
    value: '15',
  },
  {
    name: '提供サービス',
    value: 'App Develop & IT Strategy',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <picture>
        <!-- <source media="(min-width: 1024px)" srcset="/assets/about-large.webp">
        <source media="(min-width: 640px)" srcset="/assets/about-medium.webp"> -->
        <img
          class="mx-auto h-auto w-full max-w-xl rounded-3xl"
          width="576"
          height="864"
          src="/assets/about.webp"
          alt="Our experts working together"
        />
      </picture>
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Cor.inc
              は、ITを通じて「幸せ」を追求する世界一の企業として、コミュニケーションの課題を解決し、ユーザー間の共感と共通理解を促進するシステムや仕組みを開発しています。
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              私たちの使命は、日々進化するテクノロジーを活用して、関わる全ての人々が自らの価値を明確に自覚し、真の幸せを追求し達成できるように支援することです。
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              私たちは、すべてのステークホルダーがより幸せな社会を目指して協働し、技術力を駆使して共に真の幸せを共創する未来を創造していきます。
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
