---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Our privacy policy will help you understand what information is collected and how it is used."
  title="Privacy policy · Cor.inc"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">プライバシーポリシー</h1>
      <p class="text-base">Last update: May 13 , 2025</p>
    </div>
    <div>
      <p class="mb-4">
        Cor.incでは、お客様のプライバシーを最優先し、その保護に努めています。本プライバシーポリシーでは、ウェブ解析ツール、Flutterアプリ、機械学習ソリューションなど、弊社のサービスをご利用いただく際の個人情報の収集、使用、保護に関する弊社のアプローチについて詳しく説明します。当社の取り組みをご理解いただくため、本ポリシーをご確認いただくことをお勧めします。
      </p>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">1. 当社が収集する情報</h2>
      <p class="mb-6">
        当社のサービスをご利用いただく際に、当社は以下のような様々な種類の個人情報を収集することがあります：
      </p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          お客様が提供する情報：これには、お客様がアカウントを作成したり、当社サービスの特定の機能を利用したりする際に、お客様の氏名、Eメールアドレス、連絡先、その他の関連データが含まれる場合があります。
        </li>
        <li>
          利用データ：当社は、お客様のIPアドレス、ブラウザの種類、デバイス情報、訪問したページ、および当社サービスとのインタラクションを含む、お客様の当社サービスの利用に関するデータを収集します。
        </li>
        <li>
          クッキーおよび類似技術：ユーザーエクスペリエンスを向上させ、利用パターンを把握するため、当社サービスではクッキーおよび類似の技術を利用しています。
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2. お客様の情報の使用方法</h2>
      <p class="mb-4">当社は、お客様の個人情報を以下の目的で利用することがあります：</p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          サービスの提供と改善：当社では、パーソナライズされた体験を提供し、当社サービスの機能を向上させるためにお客様のデータを使用します。
        </li>
        <li>
          コミュニケーション：お客様のEメールアドレスおよび連絡先情報は、最新情報、ニュースレター、販促資料の送付に使用されることがあります。これらの通信を拒否するオプションがあります。
        </li>
        <li>
          アナリティクス：ユーザーの行動をよりよく理解し、当社のサービスを向上させるために、当社は集計および匿名化されたデータを分析します。
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">お問い合わせ</h2>
      <p class="mb-4">
        当社の個人情報保護方針についてご質問やご不明な点がございましたら、<br />当社の
        <span class="font-medium">
          <a href="/contact">お問い合わせフォーム</a>
        </span>
        までご連絡ください。
      </p>
    </div>
  </div>
</Layout>
