<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-center gap-8 sm:gap-10">
        <div class="flex max-w-none flex-col items-center gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            Swifter than any, to the horizon beyond.
          </h1>
          <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
            誰よりも早く、その先へ
          </p>
        </div>
        <a
          href="/pricing"
          class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-400 dark:text-primary-950 dark:hover:bg-primary-300 dark:focus-visible:outline-primary-400"
        >
          Our Products & Insights
        </a>
      </div>
      <picture>
        <source
          media="(max-width: 768px)"
          srcset="/assets/hero-480w.avif"
          type="image/avif"
        />
        <source
          media="(max-width: 768px)"
          srcset="/assets/hero-480w.webp"
          type="image/webp"
        />
        <source
          srcset="/assets/hero.avif"
          type="image/avif"
        />
        <img
          class="h-auto w-full rounded-3xl"
          src="/assets/hero.avif"
          alt="Hero picture"
          width="1280"
          height="853"
          loading="eager"
          fetchpriority="high"
          decoding="async"
        />
      </picture>
    </div>
  </div>
</section>
