<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-center gap-8 sm:gap-10">
        <div class="flex max-w-none flex-col items-center gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            Pioneering Collaboration Through Innovation
          </h1>
          <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
            技術を通じて、これまでにない価値ある体験を。
          </p>
        </div>
        <a
          href="/pricing"
          class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-400 dark:text-primary-950 dark:hover:bg-primary-300 dark:focus-visible:outline-primary-400"
        >
          Our Products & Insights
        </a>
      </div>
      <img
        class="h-auto w-full rounded-3xl"
        src="/assets/hero-480w.avif"
        srcset="/assets/hero-480w.avif 480w,
          /assets/hero-800w.avif 800w,
          /assets/hero.avif 1600w"
        sizes="(max-width: 768px) 100vw,
          (max-width: 1200px) 100vw,
          1280px"
        alt="Hero picture"
        width="1280"
        height="853"
      />
    </div>
  </div>
</section>
