---
import Layout from '../../../layouts/Layout.astro';

---

<Layout
  title="Aviso Legal (Ley de Transacciones Comerciales Específicas) | Cor.inc"
  description="Divulgaciones legales requeridas bajo la Ley de Transacciones Comerciales Específicas de Japón. Incluye información del vendedor, términos de pago, entrega y políticas de devolución."
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <h1 class="mb-10 text-4xl font-medium tracking-tight sm:text-5xl">Aviso Legal</h1>

    <table class="w-full table-auto border-collapse text-left">
      <caption class="sr-only">Información del vendedor requerida bajo la Ley de Transacciones Comerciales Específicas de Japón</caption>
      <tbody class="divide-y divide-primary-200 dark:divide-primary-800">
        <tr><th class="py-4 pr-6 align-top font-medium">Vendedor</th><td class="py-4">Cor Inc. (Cor.inc)</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Gerente de Operaciones</th><td class="py-4">CEO&nbsp;Kousuke&nbsp;Terada</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Dirección</th><td class="py-4">Tenjin Pine Crest&nbsp;719,<br />2-3-10 Tenjin, Chuo-ku,<br />Fukuoka-shi, Fukuoka 810-0001, Japón</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Teléfono</th><td class="py-4">+81-70-8561-1659</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Correo Electrónico</th><td class="py-4">company@cor-jp.com</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Precio de Venta</th><td class="py-4">Proporcionamos cotizaciones individuales para cada servicio o proyecto. Las cotizaciones son gratuitas; no dude en contactarnos a través del formulario de consulta.</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Tarifas Adicionales al Precio del Producto</th><td class="py-4">
          <ul class="list-disc list-inside space-y-1">
            <li>IVA (impuesto al consumo)</li>
            <li>Tarifas de transferencia bancaria al pagar por transferencia bancaria</li>
            <li>Otros gastos reales como tarifas de servidor o dominio, si surgen fuera del desarrollo, se indicarán claramente al momento de la cotización.</li>
          </ul>
        </td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Métodos de Pago</th><td class="py-4">Tarjeta de crédito (Stripe) / Transferencia bancaria</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Momento del Pago</th><td class="py-4">En principio, el pago vence al final del mes siguiente al mes de entrega (neto 30). Sin embargo, puede requerirse un pago anticipado o el momento puede variar dependiendo del contrato. Los detalles se especificarán en el contrato individual.</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Entrega / Provisión de Servicios</th><td class="py-4">Proporcionado de acuerdo con la fecha de entrega especificada en el contrato individual.</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Política de Devolución / Cancelación</th><td class="py-4">Debido a la naturaleza de los servicios, generalmente no aceptamos cancelaciones o reembolsos después de que la producción haya comenzado. Las condiciones para la terminación del contrato se estipularán en el contrato individual.</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Manejo de Defectos</th><td class="py-4">Si se encuentra un defecto serio que difiere del contrato en el producto entregado, lo corregiremos sin cargo dentro de los 3&nbsp;meses posteriores a la entrega.</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Limitaciones de Cantidad</th><td class="py-4">Ninguna</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Requisitos del Sistema</th><td class="py-4">Los sitios web / aplicaciones web entregados están garantizados para funcionar en las últimas versiones de los siguientes navegadores: Google&nbsp;Chrome, Safari, Firefox, Microsoft&nbsp;Edge.</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Cancelación de Suscripción</th><td class="py-4">No aplica</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Condiciones de Venta Especiales</th><td class="py-4">No aplica</td></tr>
        <tr><th class="py-4 pr-6 align-top font-medium">Licencia de Comerciante de Segunda Mano</th><td class="py-4">No aplica</td></tr>
      </tbody>
    </table>
  </div>
</Layout>
